version: 2.1

cache_key: &cache_key
  key: jars-{{ checksum "buildSrc/build.gradle.kts" }}-{{ checksum "buildSrc/src/main/java/Dependencies.kt" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}

android_config: &android_config
  working_directory: ~/Tickmarks
  docker:
    - image: circleci/android:api-30
  environment:
    TERM: dumb
    JAVA_TOOL_OPTIONS: "-Xmx1g"
    GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dkotlin.incremental=false"

commands:
  reveal_secrets:
    steps:
      - run:
          name: Reveal secrets
          command: .circleci/reveal_secrets.sh
  hide_secrets:
    steps:
      - run:
          name: Hide secrets
          command: .circleci/hide_secrets.sh
          when: always

jobs:
  build:
    <<: *android_config
    steps:
      - checkout
      - restore_cache:
          <<: *cache_key
      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies

      - reveal_secrets

      - run:
          name: Assemble APKs
          command: ./gradlew assembleFlank assembleRelease

      - hide_secrets

      - run:
          name: Copy artifacts
          command: ./gradlew copyReleaseArtifacts

      - store_artifacts:
          path: ./build/release

      - save_cache:
          <<: *cache_key
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper

      - persist_to_workspace:
          root: .
          paths:
            - build
            - ./**/build
            - ./**/**/build
            - .gradle
            - buildSrc/.gradle

  static_analysis:
    <<: *android_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/Tickmarks
      - restore_cache:
          <<: *cache_key

      - reveal_secrets

      - run:
          name: Run Lint, Detekt and Dependency updates
          command: ./gradlew lintDebug detekt dependencyUpdates

      - hide_secrets

      - run:
          name: Copy reports
          command: ./gradlew copyLintReports copyDetektReports

      - store_artifacts:
          path: ./build/lint
      - store_artifacts:
          path: ./build/detekt
      - store_artifacts:
          path: ./build/dependency

  unit_test:
    <<: *android_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/Tickmarks
      - restore_cache:
          <<: *cache_key

      - reveal_secrets

      - run:
          name: Run unit tests
          command: ./gradlew testDebugUnitTest

      - hide_secrets

      - run:
          name: Copy test results
          command: ./gradlew copyUnitTestReports

      - store_test_results:
          path: ./build/unit-tests
      - store_artifacts:
          path: ./build/unit-tests

  instrumented_test:
    <<: *android_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/Tickmarks
      - restore_cache:
          <<: *cache_key

      - reveal_secrets

      - run:
          name: Run instrumented tests on Firebase
          command: ./gradlew runFlank

      - hide_secrets

      - store_test_results:
          path: ./build/fladle
      - store_artifacts:
          path: ./build/fladle

  deploy:
    <<: *android_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/Tickmarks
      - restore_cache:
          <<: *cache_key

      - reveal_secrets

      - run:
          name: Deploy on Firebase
          command: ./gradlew appDistributionUploadRelease

      - hide_secrets

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - static_analysis:
          requires:
            - build
      - unit_test:
          requires:
            - build
      - instrumented_test:
          requires:
            - build
      - deploy:
          requires:
            - static_analysis
            - unit_test
            - instrumented_test
          filters:
            branches:
              only:
                - master
