<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="tickmarks.bookmark.ui">

    <application
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">

        <activity
            android:name=".add.AddBookmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>